.schedule-timeline {
  width: 100%;

  &-big {
    background: $schedule-timeline-bg;
  }
}

.carousel-days.owl-theme {
  border-bottom: $schedule-timeline-border;

  .carousel-days-item {
    height: $schedule-timeline-item-height;
    display: block;
    text-decoration: none;
    font-size: $font-size-base * 0.8;
    text-align: center;
    color: $body-color;
    padding: 13px;
    transition: $transition-base;

    h3 {
      margin: 0;
      font-weight: 300;
      font-size: $font-size-base;
      color: $body-color;
    }

    span {
      color: $schedule-timeline-span-color;
    }

    &:hover, &.active {
      background: $schedule-timeline-hover-bg;

      h3 {
        color: $schedule-timeline-hover-color;
      }

      span {
        color: $schedule-timeline-span-hover-color;
      }
    }
  }
}

.schedule-prices {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center;

  li {
    padding: 10px 15px 10px 25px;
    font-size: $font-size-base * 0.9;
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 7px;
      top: 15px;
      width: 10px;
      height: 10px;
    }
  }

  &-0:before {
    background: #89bfec;
  }

  &-1:before {
    background: #a1ec8f;
  }

  &-2:before {
    background: #e78e7c;
  }
}

.schedule-hint {
  font-size: 0.75rem;
  padding: 0 0 10px;

  .schedule-timeline-big & {
    padding: 0 15px 10px;
    text-align: center;
  }
}

.schedule-quests {
  &-item {
    font-size: 0;
    padding-bottom: $grid-gutter-width / 2;

    @media (min-width: 560px) {
      display: flex;
      flex-direction: row;
    }

    > * {
      display: inline-block;
      font-size: $font-size-base;
      vertical-align: top;
      padding-top: $grid-gutter-width / 2;
    }

    & + & {
      border-top: 1px solid $body-lighter;
    }

    &-pic {
      padding-right: $grid-gutter-width;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        max-width: 100px;
        max-height: 100px;
      }
    }

    &-title {
      color: $schedule-item-title-color;
      padding-right: $grid-gutter-width;
      width: 200px;
      flex-basis: 200px;
      flex-grow: 0;
      flex-shrink: 0;

      a {
        color: $body-color;
        font-size: $font-size-base * 1.2;
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          color: $second-color-darker;
        }
      }
    }

    &-schedule {
      font-size: 0;

      > div {
        display: inline-block;
        font-size: $font-size-base;
        vertical-align: top;
        margin: 2px;
        border: 2px solid $body-color;
        padding: 0 4px;
        color: $body-color;
        opacity: 0.2;
        width: $schedule-time-width;
        text-align: center;
      }

      > span {
        font-size: $font-size-base * 1.2;
        color: $schedule-item-span-color;
      }
    }

    &-schedule &-price {
      opacity: 1;
      cursor: pointer;
      color: #000;

      &:hover {
        color: $body-color;
        transition: $transition-base;
      }

      &-0 {
        border-color: #8cb0ec;
        background: #8cb0ec;
      }

      &-1 {
        border-color: #a1ec8f;
        background: #a1ec8f;
      }

      &-2 {
        border-color: #e7d933;
        background: #e7d933;
      }
    }

    &-date {
      font-size: $font-size-base * 0.9;
      color: $schedule-timeline-span-color;
      padding-right: $grid-gutter-width;
      width: 150px;

      div {
        font-size: $font-size-base;
        color: $body-color;
      }
    }
  }
}

.booking-form {
  table {
    td {
      text-align: center;
    }

    div {
      font-weight: 400;
    }
  }
}

#modal-booking {
  text-align: center;
  padding: 0 !important;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}