@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&subset=cyrillic');

body {
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

footer {
  padding: 20px $grid-gutter-width;
  text-align: center;
  font-size: 0.9em;
  color: $text-color-darker;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 40%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2 {
  font-weight: 700;
}

h2 {
  margin: 0 0 35px;
}

.h3-bigger {
  font-size: 32px;
}

.text-shadow {
  text-shadow: 0 0 5px #000;
}

.btn {
  transition: all 0.2s ease-in-out;

  &:focus, &:active {
    outline: none;
  }

  &-warning:hover {
    background: $main-color;
    border-color: $main-color;
  }

  .far, .fas, .fab {
    margin-right: 5px;
  }
}

.buttons-pad {
  margin: 40px 0;
}

.wide-light {
  background: $body-lighter;
}

.wide-fix {
  background: center top no-repeat fixed;
  background-size: cover;
}

.pad {
  padding-top: 30px;
  padding-bottom: 30px;

  h1, h2, h3 {
    margin-top: 0;
  }
}

.higlight-text {
  color: $second-color;
}

.container-half {
  @media (min-width: $screen-sm-min) {
    width: $container-sm / 2;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md / 2;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg / 2;
  }
}

#map {
  width: 100%;
  height: 400px;
}

.modal {
  display: block;
}

button:focus {
  outline: none !important;
}

.form-control {
  box-shadow: none;
  outline: none;

  &:focus {
    @include box-shadow(none);
  }
}

label {
  font-weight: 300;
}

.loader {
  width: 100%;
  padding: 48px;
  text-align: center;

  &:before {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    border: 3px solid $text-color;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-animation: cssload-spin 575ms infinite linear;
    animation: cssload-spin 575ms infinite linear;
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

.owl-carousel {
  position: relative;

  .owl-nav {
    margin: 0;
  }

  .owl-prev, .owl-next {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    border-radius: 0 !important;
    margin: 0 !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%) !important;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;

    .fa {
      color: #fff;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 0;
      font-size: 50px;
      line-height: 50px;
      margin-top: -25px;
      width: 100%;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .owl-next {
    left: auto;
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%) !important;
  }

  .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}