@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&subset=cyrillic');

body {
  font-weight: 400;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-container {
  flex-grow: 1;
}

footer {
  padding: 1.25rem $grid-gutter-width;
  text-align: center;
  font-size: 0.9rem;
  color: transparentize($body-inverse-color, 0.4);
  background: $footer-bg;
}

.text-small {
  font-size: 0.75rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2 {
  font-weight: 700;
}

h2 {
  margin: 0 0 2.25rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-color;
}

.text-inverse {
  color: $body-inverse-color;
}

.h3-bigger {
  font-size: 2rem;
}

button {
  cursor: pointer;
}

.btn {
  transition: $transition-base;

  &:hover, &:focus, &:active {
    outline: none;
  }

  .far, .fas, .fab {
    margin-right: 0.25rem;
  }
}

.buttons-pad {
  margin: 2.5rem 0;
}

.wide-light {
  background: $wide-light-bg;
}

.wide-fix {
  background: center top no-repeat fixed;
  background-size: cover;
}

.pad {
  padding-top: $pad-size;
  padding-bottom: $pad-size;

  h1, h2, h3 {
    margin-top: 0;
  }
}

.higlight-text {
  color: $second-color;
}

.container-half {
  @include make-container-max-widths((
          sm: 270px,
          md: 360px,
          lg: 480px,
          xl: 570px
  ));
}

#map {
  width: 100%;
  height: 400px;
}

.modal {
  display: block;
}

button:focus {
  outline: none !important;
}

.form-control {
  box-shadow: none;
  outline: none;

  &:focus {
    @include box-shadow(none);
  }
}

label {
  font-weight: 300;
}

.loader {
  width: 100%;
  padding: 3rem;
  text-align: center;

  &:before {
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    border: 3px solid $loader-color;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-animation: cssload-spin 575ms infinite linear;
    animation: cssload-spin 575ms infinite linear;
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

.owl-carousel {
  position: relative;

  .owl-nav {
    margin: 0;
  }

  .owl-prev, .owl-next {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6.25rem;
    border-radius: 0 !important;
    margin: 0 !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%) !important;
    opacity: 0.5;
    transition: $transition-base;

    .fa {
      color: #fff;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 0;
      font-size: 3.25rem;
      line-height: 3.25rem;
      margin-top: -1.625px;
      width: 100%;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .owl-next {
    left: auto;
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%) !important;
  }

  .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}