[data-fixable] {
  position: absolute;

  &.fixed {
    position: fixed;
  }
}

.navbar-fixable {
  transition: $transition-base;
  z-index: $navbar-layer;
  width: 100%;

  &.fixed {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    background: $main-color;
  }
}

.navbar {
  border-width: 0;

  .logo {
    transition: $transition-base;
    height: $navbar-height;
    max-height: none;
    width: auto;

    @include media-breakpoint-down(sm) {
      height: $navbar-height * 0.8;
    }

    @include media-breakpoint-up(md) {
      height: $navbar-height * 1.4;
    }
  }

  ul a {
    text-decoration: none;
    display: block;
    padding: #{($navbar-height - $line-height-base * $font-size-base) / 2} 1rem;
    height: $navbar-height;
    color: $navbar-default-link-color;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  .fixed & {
    height: $navbar-inverse-height;
    min-height: $navbar-inverse-height;

    .logo {
      height: $navbar-inverse-height * 0.8;
      margin: #{$navbar-inverse-height * 0.1} 0;
    }

    a {
      padding: #{($navbar-inverse-height - $line-height-base * $font-size-base) / 2} 1rem;
      height: $navbar-inverse-height;

      &.navbar-brand {
        padding: 0;
      }
    }
  }

  nav {
    ul {
      @include set-inline-parent($navbar-font-size);
      @include reset;
      float: left;

      &.navbar-right {
        float: right;
      }
    }
  }

  &-collapse {
    @include media-breakpoint-down(sm) {
      background: darken($main-color, 10);
    }
  }
}

.header-additional {
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  background: #000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #898989;

  span {
    color: #c7c7c7;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    display: inline-block;
    color: $navbar-default-link-color;
    font-weight: normal;
    margin: 0 0.25rem;
  }
}

header {
  background: center center no-repeat #343434 fixed;
  background-size: cover;
  position: relative;

  h1 {
    font-size: 1.75rem;
    margin: 2rem 0 0;

    @include media-breakpoint-up(sm) {
      font-size: 2.5rem;
    }

    @include media-breakpoint-up(lg) {
      margin: 4rem 0 0;
      font-size: 3.5rem;
    }
  }

  .header-content {
    padding-top: 80px;
    font-size: 1.25rem;
    font-weight: 100;
  }

  &.header-main {
    background-image: url(/images/header-main.jpg);
    min-height: 435px;
    margin-bottom: 200px;
  }

  &.header-schedule {
    background-image: url(/images/header-main.jpg);
    min-height: 300px;
  }

  &.header-quest {
    background-image: url(/images/header-main.jpg);
    min-height: 300px;

    .header-content {
      padding-top: 0;
    }
  }

  .carousel-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -175px;
  }

  .carousel-main.owl-theme {
    .carousel-main-item {
      height: 240px;
      padding: 1.25rem;
      background: lighten($main-color, 5) center center no-repeat;
      background-size: cover;
      display: block;
      text-decoration: none;
      color: #fff;
      font-size: $font-size-base;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.1);
        opacity: 0;
        transition: $transition-base;
      }

      h3 {
        margin: 0;
        font-weight: 700;
        width: 70%;
      }

      p {
        margin: 0.625rem 0 0;
        width: 70%;
      }

      button {
        background: transparent;
        border: 1px solid #fff;
        transition: $transition-base;
        padding: 0.625rem 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 1.25rem;
        color: $body-inverse-color;

        &.carousel-main-highlight {
          background: $second-color-darker;
          border-color: $second-color-darker;
        }
      }

      &:hover {
        &:before {
          opacity: 1;
        }

        button {
          background: $main-color;
          border-color: $main-color;
        }
      }
    }

    $nav-arrow-size: 60px;
    $nav-arrow-offset: $grid-gutter-width / 2;
    .owl-nav {
      position: static;

      > div {
        position: absolute;
        top: 50%;
        width: $nav-arrow-size;
        height: $nav-arrow-size;
        border: 1px solid $main-color;
        border-radius: 0;
        margin: #{-$nav-arrow-size / 2} 0;
        background: $body-lighter;
        padding: 0;
        line-height: $nav-arrow-size - 2;
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        font-size: $nav-arrow-size * 0.5;

        &:hover {
          background: $body-lighter;
        }
      }
    }

    .owl-prev {
      left: -$nav-arrow-size - $nav-arrow-offset;
    }

    .owl-next {
      right: -$nav-arrow-size - $nav-arrow-offset;
    }

    .carousel-main-schedule {
      background-image: url(/images/slides-main-1.jpg);
    }

    .carousel-main-quests {
      background-image: url(/images/pic-museum.jpg);
    }

    .carousel-main-gift {
      background-image: url(/images/slides-main-3.jpg);
    }
  }
}
