// Body
$main-color: #1c4780;
$second-color: #ffb561;
$second-color-darker: #da7420;
$panel-bg: $main-color;
$body-bg: darken($main-color, 20);
$body-lighter: lighten($body-bg, 10);
$transition-base: all 0.2s ease-in-out;
$pad-size: 30px;
$wide-light-bg: $body-lighter;
$footer-bg: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 40%);
$loader-color: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$border-radius-base: 0;
$border-radius-large: 0;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Rubik', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.4;
$text-color: #fff;
$header-color: $text-color;
$text-color-darker: #9d9d9d;
$text-shadow-base: 1px 1px 1px rgba(0, 0, 0, 0.5);

// Navbar
$navbar-default-bg: transparent;
$navbar-inverse-bg: $main-color;
$navbar-font-size: 16px;
$navbar-layer: 10;
$navbar-height: 70px;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: $second-color;
$navbar-inverse-height: 60px;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;

// Buttons
$btn-default-color: $text-color;
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$btn-font-weight: 100;
$btn-warning-bg: $second-color-darker;
$btn-warning-hover-bg: $main-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Inputs
$input-color: $text-color;
$input-bg: $body-bg;
$input-border: lighten($body-lighter, 10);
$input-border-radius: 0;

// Tables
$table-border-color: lighten($body-lighter, 10);

// Modals
$modal-content-fallback-border-color: transparent;
$modal-content-border-color: transparent;
$modal-content-bg: $body-lighter;
$close-color: #fff;
$modal-header-border-color: $table-border-color;

// Schedule
$schedule-timeline-bg: $body-bg;
$schedule-timeline-hover-bg: $main-color;
$schedule-timeline-span-color: #ccc;
$schedule-timeline-span-hover-color: #fff;
$schedule-timeline-border: 1px solid #fff;
$schedule-timeline-item-height: 60px;
$schedule-item-title-color: #ccc;
$schedule-item-span-color: #ccc;
$schedule-time-width: 60px;