
// Body
$panel-bg: #181833;
$body-bg: #010101;

$matrix-panel-bg: #113615;
$matrix-body-bg: #000;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: Roboto, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #fff;
$text-color-darker: #9d9d9d;
$headings-color: #fff;
$headings-font-family: Podkova, serif;
$headings-font-weight: bold;

// Navbar
$navbar-inverse-bg: transparent;
$navbar-inverse-border: #ccc;
$navbar-margin-bottom: 0;
$navbar-font-size: 18px;
$navbar-inverse-link-color: #ccc;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
