// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

button {
    background-color: lighten($panel-bg, 20%);
    color: #fff;
    border: 0;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 0;
    padding: 5px 10px;
    transform-origin: left bottom;

    &:hover {
        top: -2px;
    }
}

.header {
    padding: 75px 0 25px;
    position: relative;
    color: #fff;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.6);
    text-align: center;

    @media (max-width: 480px) {
        padding: 20px 0;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    h1 {
        font-size: 70px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        color: #fff;
        font-family: Underdog, sans-serif;
    }
}

.main-banner {
    padding: 60px 20px;
    text-align: center;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.6);

    h2 {
        font-size: 50px;
        margin: 0;
        color: #fff;
    }
}

.navbar {
    font-size: $navbar-font-size;
    border-width: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);

    @media(min-width: 768px) {
        text-align: center;

        .navbar-nav {
            float: none;
            display: inline-block;
            text-align: left;
        }
    }
}

.site-panel {
    background-color: $panel-bg;
    padding: $grid-gutter-width;
    @include clearfix;

    & + & {
        margin-top: $grid-gutter-width;
    }
}

footer {
    padding: 20px $grid-gutter-width;
    text-align: center;
    font-size: 0.9em;
    color: $text-color-darker;
}

img {
    max-width: 100%;
    max-height: 100%;
}